autopep8==1.5.7
bleach==4.1.0
boto3==1.18.41
botocore==1.21.41
certifi==2022.12.7
cffi==1.14.6
charset-normalizer==2.0.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
docutils==0.17.1
fernet==1.0.1
idna==3.2
importlib-metadata==4.8.1
jeepney==0.7.1
jmespath==0.10.0
keyring==23.2.1
mkdir==2020.12.3
orderdict==2020.12.3
packaging==21.0
pkginfo==1.7.1
pyaes==1.6.1
pyaml==21.8.3
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==5.4.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
s3transfer==0.5.0
SecretStorage==3.3.1
setupcfg==2020.12.3
setuppy-generator==2020.12.2
six==1.16.0
toml==0.10.2
tqdm==4.62.2
twine==3.4.2
urllib3==1.26.6
values==2020.12.3
webencodings==0.5.1
write==2020.12.3
zipp==3.5.0
